<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            {% load static %}
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </div>
        <div class="menu">
            <a href="#">HOME</a>
            <a href="#">DEHAZER</a>
            <a href="#">ABOUT</a>
            <a href="#" class="contact">CONTACT</a>
        </div>
    </div>
    
</body>
</html>